:root {
    --body-color: #f4f5f5;
    --primary-color: #ff9854;
    --article-title: #4A4A4A;
    --article-info: #888;
    --article-description: #3a4145;
    --article-readmore: #666;
    --description-color: #f3f3f3;
    --article-color: #333;

    --spinning-color: rgba(255, 165, 0, 1);
    
    --max-width: 1920px;
    
    --huge-breakpoint: 1600px;
    --large-breakpoint: 1200px;
    --mid-breakpoint: 1200px;
    --ipad-breakpoint: 1100px;
    --mobile-breakpoint: 767px;
}

body {
    font-size: 62.5%;
}

.wrap {
    max-width: var(--ipad-breakpoint);
    margin: 0 auto;
}

.logo {
    margin-left: 0 !important;
    margin-right: auto;
}
.logo > a {
    font-size: 2.5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px rgb(72, 184, 49);
    text-shadow: 3px 0px 0px rgb(22, 107, 4);
}

#app {
    font-size: 1.4rem;
}

.mt44 {
    margin-top: 44px;
}

.pt100 {
    padding-top: 100px !important;
}

.pd012rem {
    padding: 0 2rem;
}

.dp {
    display: block;
}